[Desktop Entry]
Name=Power Point
Exec=/home/vijay/.config/wine-custom/power.sh
Comment=
Terminal=false
Icon=/home/vijay/.config/wine-custom/power.png
Type=Application
